<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta name="author" content="Bojan Vasic">
    <meta name="description" content="CurrencyFair">
    <meta name="keywords" content="CurrencyFair">
    <title>CurrencyFair</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <script type='text/javascript' src='../js/vendor/jquery-3.3.1.js'></script>
    
  </head>
  <body>
    <div class="main-container">
      <div class="header-container">
        <div class="header">
          <div class="logo"><a href="index.html"></a></div>
        </div>
      </div>
      <div class="main-content-holder">
        <div class="main-left-container">
          <div class="transaction-panel">
            <!--NAVIGATION MENU -->
            <div class="trans-nav">
              <ul>
                <li>
                  <p class="step-no">Step 1</p>
                  <p class="step-desc">Transaction info</p>
                </li>
                <li>
                  <p class="step-no">Step 2</p>
                  <p class="step-desc">Recipient info</p>
                </li>
                <li>
                  <p class="step-no">Step 3</p>
                  <p class="step-desc">Make payment</p>
                </li>
              </ul>
            </div>
            <!--NAVIGATION MENU END-->
            <div class="trans-title">
              <p>Complete our form:</p>
              <p>THIS IS EJS FILE</p>
            </div>
            <!--FORM COLLECTION-->
            <div class="trans-form">
              <div class="trans-send-container">
              <!--SENDING DATA VIA POST REQUEST-->
                <form action="/addperson" method="POST">
                  <input type="text" placeholder="firstname" name="firstname">
                  <input type="text" placeholder="lastname" name="lastname">
                  <button type="submit">Submit</button>
                </form>
              </div>
            </div>
            <!--TRANSACTION CONVERSION FORM END-->
            <div class="trans-submit">
              <button data-popup-open="popup-confirmation">Submit</button>
            </div>
            <div class="cf-footer">
              <span>© 2016 CurrencyFair</span>
              <div class="cf-footer-links">
                <a href="#">Help & Support</a>
                <a href="#">Legal Stuff</a>
              </div>
            </div>
          </div>
        </div>
        <!-- RIGHT SIDEBAR PANEL-->
        <div class="main-right-container">
          <div class="confirmation-panel">
            <div class="sending-details">
              Front-end output from end-point service
            </div>
            <div class="sending-amount">
              <!-- RENDERING JSON DATA FROM DB -->
              <div>
                <ul>
                  <% for(var i=0; i<persons.length; i++) {%>
                  <li class="quote">
                    <span><%= persons[i].firstname %></span>
                    <span><%= persons[i].lastname %></span>
                  </li>
                <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='../js/global.js'></script>
  </body>
</html>