/*SCREEN SIZES*/
/*MAIN COLOURS*/
/*BACKGROUND*/
/*FONT COLORS*/
/*TRANSACTION MENU*/
@font-face {
  font-family: 'PostGrotesk-Bold';
  src: url("../fonts/PostGrotesk-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PostGrotesk-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PostGrotesk-BoldItalic';
  src: url("../fonts/PostGrotesk-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PostGrotesk-BoldItalic.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PostGrotesk-Book';
  src: url("../fonts/PostGrotesk-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/PostGrotesk-Book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PostGrotesk-BookItalic';
  src: url("../fonts/PostGrotesk-BookItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PostGrotesk-BookItalic.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PostGrotesk-Light';
  src: url("../fonts/PostGrotesk-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PostGrotesk-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PostGrotesk-LightItalic.eot';
  src: url("../fonts/PostGrotesk-LightItalic.eot.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-LightItalic.eot.eot?#iefix") format("embedded-opentype"), url("../fonts/PostGrotesk-LightItalic.eot.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PostGrotesk-Medium';
  src: url("../fonts/PostGrotesk-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PostGrotesk-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'PostGrotesk-MediumItalic.eot';
  src: url("../fonts/PostGrotesk-MediumItalic.eot.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PostGrotesk-MediumItalic.eot.eot?#iefix") format("embedded-opentype"), /url("../fonts/PostGrotesk-MediumItalic.eot.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
body {
  background: #ffffff;
  font-family: 'PostGrotesk-Light';
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, #ffffff, #ffffff 50%, #fbfbfb 50%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*BACKGROUND CHANGE ON MOBILE*/ }
  @media screen and (max-width: 767px) {
    body {
      background: #fbfbfb; } }

/* DESKTOP VERSION */
@media screen and (min-width: 1200px) {
  .main-container {
    font-size: 14px;
    /* HEADER */
    /* MAIN CONTENT */ }
    .main-container .header-container {
      position: fixed;
      top: 0;
      z-index: 99;
      width: 100%;
      background-color: #32323c;
      height: 75px; }
      .main-container .header-container .header {
        width: 1024px;
        height: inherit;
        margin-left: auto;
        margin-right: auto; }
        .main-container .header-container .header .logo {
          background: url("../img/logo.png");
          width: 173px;
          height: 75px;
          float: left; }
          .main-container .header-container .header .logo a {
            width: 100%;
            height: 100%;
            display: block; }
    .main-container .main-content-holder {
      width: 1024px;
      margin-left: auto;
      margin-right: auto;
      display: table;
      height: 100%;
      padding-top: 75px; }
      .main-container .main-content-holder .pointer {
        cursor: pointer; }
      .main-container .main-content-holder .main-left-container {
        display: table-cell;
        width: 60%;
        background: #ffffff;
        margin: 0;
        padding: 0;
        float: left;
        height: 100%;
        /* CONVERSION FORM */
        /* CONVERSION FORM END*/ }
        .main-container .main-content-holder .main-left-container .transaction-panel {
          padding: 40px; }
          .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav {
            height: 60px; }
            .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul {
              padding-left: 0; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li {
                float: left;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 14px;
                font: inherit;
                vertical-align: baseline;
                list-style: none;
                font-weight: bold;
                color: #b0bec5;
                width: 33%;
                border-bottom: 4px solid #e2f2fa;
                cursor: pointer; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li .step-no {
                  margin: 10px 10px 0 30px;
                  font-size: 11px; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li .step-desc {
                  margin: 5px 10px 10px 30px;
                  font-size: 13px; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child {
                float: left;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 16px;
                font: inherit;
                vertical-align: baseline;
                list-style: none;
                font-weight: bold;
                color: #6ec0e6;
                width: 33%;
                border-bottom: 4px solid #6ec0e6;
                cursor: pointer; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child .step-no {
                  margin: 10px 10px 0 30px;
                  font-size: 11px; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child .step-desc {
                  margin: 5px 10px 10px 30px;
                  font-size: 13px; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover {
                float: left;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 16px;
                font: inherit;
                vertical-align: baseline;
                list-style: none;
                font-weight: bold;
                color: #6ec0e6;
                width: 33%;
                border-bottom: 4px solid #6ec0e6;
                cursor: pointer;
                transition: 0.3s ease; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover .step-no {
                  margin: 10px 10px 0 30px;
                  font-size: 11px; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover .step-desc {
                  margin: 5px 10px 10px 30px;
                  font-size: 13px; }
        .main-container .main-content-holder .main-left-container .trans-title {
          padding: 30px 30px 20px 0;
          font-family: 'PostGrotesk-Book';
          font-size: 15px;
          color: #797979;
          margin-bottom: 0px; }
          .main-container .main-content-holder .main-left-container .trans-title p:first-child {
            font-family: 'PostGrotesk-Bold';
            font-size: 18px;
            color: #212121;
            margin-bottom: 0; }
        .main-container .main-content-holder .main-left-container .trans-form {
          /*DROPDOWN COUNTRIES INPUT*/ }
          .main-container .main-content-holder .main-left-container .trans-form .trans-send-container {
            background: #fafdfe;
            padding: 25px;
            border: 2px solid #6ec0e6;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: none; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left {
              width: 60%;
              float: left;
              padding: 25px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-label {
                color: #6ec0e6;
                font-family: 'PostGrotesk-Medium';
                font-size: 16px;
                margin-bottom: 10px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-input {
                height: 40px; }
                .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-input .input-amount {
                  width: 90%;
                  height: 100%; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right {
              width: 20%;
              float: right;
              padding-top: 35px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select {
                width: 90px;
                height: 50px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-family: 'PostGrotesk-Bold';
                -webkit-appearance: none;
                -moz-appearance: none;
                text-align: right;
                padding-left: 45px;
                cursor: pointer;
                background: url("../img/eur-flag.png") top 14px left 14px no-repeat; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select:hover {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select:focus {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select::-ms-expand {
                display: none; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-send-container:hover {
            background: #fafdfe;
            border: 2px solid #6ec0e6; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container {
            padding: 0;
            border-left: 2px solid #e6e6e6;
            border-right: 2px solid #e6e6e6;
            border-bottom: 2px solid #e6e6e6;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: none;
            height: 120px; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left {
              width: 60%;
              float: left;
              padding: 25px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-label {
                color: #6ec0e6;
                font-family: 'PostGrotesk-Medium';
                font-size: 16px;
                margin-bottom: 10px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-input {
                height: 40px; }
                .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-input .input-amount {
                  width: 90%;
                  height: 100%; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right {
              width: 20%;
              float: right;
              padding-top: 35px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select {
                width: 90px;
                height: 50px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-family: 'PostGrotesk-Bold';
                -webkit-appearance: none;
                -moz-appearance: none;
                text-align: right;
                padding-left: 45px;
                cursor: pointer;
                background: url("../img/eur-flag.png") top 14px left 14px no-repeat; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select:hover {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select:focus {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select::-ms-expand {
                display: none; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container:hover {
            background: #fafdfe;
            border-left: 2px solid #6ec0e6;
            border-right: 2px solid #6ec0e6;
            border-bottom: 2px solid #6ec0e6;
            transition: 0.5s ease; }
        .main-container .main-content-holder .main-left-container .trans-submit {
          margin-top: 40px; }
          .main-container .main-content-holder .main-left-container .trans-submit button {
            background: #6ec0e6;
            border: 1px solid #6fa0b7;
            border-radius: 4px;
            padding: 15px 20px;
            color: #ffffff;
            font-family: 'PostGrotesk-Medium';
            font-size: 16px;
            cursor: pointer;
            -moz-box-shadow: inset 0 0 5px #5cb4dd;
            -webkit-box-shadow: inset 0 0 5px #5cb4dd;
            box-shadow: inset 0 0 5px #5cb4dd;
            transition: 0.3s ease;
            /*float:right;*/ }
          .main-container .main-content-holder .main-left-container .trans-submit button:hover {
            background: #399cca; }
        .main-container .main-content-holder .main-left-container .cf-footer {
          margin-top: 50px;
          border-top: 2px solid #eeeeee;
          padding-top: 10px; }
          .main-container .main-content-holder .main-left-container .cf-footer span {
            color: #cacaca;
            font-family: 'PostGrotesk-Medium';
            font-size: 12px; }
          .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links {
            float: right; }
            .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links a {
              text-decoration: none;
              color: #6ec0e6;
              font-family: 'PostGrotesk-Medium';
              font-size: 12px;
              margin-left: 15px;
              transition: 0.3s ease; }
            .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links a:hover {
              color: #399cca; }
      .main-container .main-content-holder .main-right-container {
        display: table-cell;
        width: 40%;
        background: url("../img/rightColBg.png") repeat-y #fbfbfb;
        float: right;
        margin: 0;
        padding: 0;
        height: 100%; }
        .main-container .main-content-holder .main-right-container .confirmation-panel {
          padding: 40px; }
          .main-container .main-content-holder .main-right-container .confirmation-panel .sending-details {
            padding: 15px;
            border: 1px solid #e0e0e0;
            font-family: 'PostGrotesk-Bold';
            color: #616161;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; }
          .main-container .main-content-holder .main-right-container .confirmation-panel .sending-amount {
            background: #ffffff;
            padding: 15px;
            border-left: 1px solid #e0e0e0;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0; }
            .main-container .main-content-holder .main-right-container .confirmation-panel .sending-amount .sending-amount-label {
              float: left;
              width: 28%; }
            .main-container .main-content-holder .main-right-container .confirmation-panel .sending-amount .sending-amount-number {
              float: right;
              text-align: right;
              width: 70%; }
          .main-container .main-content-holder .main-right-container .confirmation-panel .receiving-details {
            padding: 15px;
            border-left: 1px solid #e0e0e0;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            font-family: 'PostGrotesk-Bold';
            color: #616161; }
          .main-container .main-content-holder .main-right-container .confirmation-panel .receiving-amount {
            background: #ffffff;
            padding: 15px;
            border-left: 1px solid #e0e0e0;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            height: 20px; }
            .main-container .main-content-holder .main-right-container .confirmation-panel .receiving-amount .sending-amount-label {
              float: left;
              width: 28%; }
            .main-container .main-content-holder .main-right-container .confirmation-panel .receiving-amount .sending-amount-number {
              float: right;
              text-align: right;
              width: 70%; } }
/* TABLET VERSION */
@media (min-width: 767px) and (max-width: 1200px) {
  .main-container {
    font-size: 14px;
    /* HEADER */
    /* MAIN CONTENT */ }
    .main-container .header-container {
      position: fixed;
      top: 0;
      z-index: 99;
      width: 100%;
      background-color: #32323c;
      height: 75px; }
      .main-container .header-container .header {
        width: 100%;
        height: inherit;
        margin-left: auto;
        margin-right: auto; }
        .main-container .header-container .header .logo {
          background: url("../img/logo.png");
          width: 173px;
          height: 75px;
          float: left; }
          .main-container .header-container .header .logo a {
            width: 100%;
            height: 100%;
            display: block; }
    .main-container .main-content-holder {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: table;
      height: 100%;
      padding-top: 75px; }
      .main-container .main-content-holder .main-left-container {
        display: table-cell;
        width: 60%;
        background: #ffffff;
        margin: 0;
        padding: 0;
        float: left;
        height: 100%; }
        .main-container .main-content-holder .main-left-container .transaction-panel {
          padding: 40px; }
          .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav {
            height: 60px; }
            .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul {
              padding-left: 0; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li {
                float: left;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 14px;
                font: inherit;
                vertical-align: baseline;
                list-style: none;
                font-weight: bold;
                color: #b0bec5;
                width: 33%;
                border-bottom: 4px solid #e2f2fa; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li .step-no {
                  margin: 10px 10px 0 30px;
                  font-size: 11px; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li .step-desc {
                  margin: 5px 10px 10px 30px;
                  font-size: 12px; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child {
                float: left;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 16px;
                font: inherit;
                vertical-align: baseline;
                list-style: none;
                font-weight: bold;
                color: #6ec0e6;
                width: 33%;
                border-bottom: 4px solid #6ec0e6;
                cursor: pointer; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child .step-no {
                  margin: 10px 10px 0 30px;
                  font-size: 11px; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child .step-desc {
                  margin: 5px 10px 10px 30px;
                  font-size: 12px; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover {
                float: left;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 16px;
                font: inherit;
                vertical-align: baseline;
                list-style: none;
                font-weight: bold;
                color: #6ec0e6;
                width: 33%;
                border-bottom: 4px solid #6ec0e6;
                cursor: pointer;
                transition: 0.3s ease; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover .step-no {
                  margin: 10px 10px 0 30px;
                  font-size: 11px; }
                .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover .step-desc {
                  margin: 5px 10px 10px 30px;
                  font-size: 12px; }
        .main-container .main-content-holder .main-left-container .trans-title {
          padding: 30px 30px 20px 0;
          font-family: 'PostGrotesk-Book';
          font-size: 15px;
          color: #797979;
          margin-bottom: 0; }
          .main-container .main-content-holder .main-left-container .trans-title p:first-child {
            font-family: 'PostGrotesk-Bold';
            font-size: 18px;
            color: #212121;
            margin-bottom: 0; }
        .main-container .main-content-holder .main-left-container .trans-form {
          /*DROPDOWN COUNTRIES INPUT*/ }
          .main-container .main-content-holder .main-left-container .trans-form .trans-send-container {
            padding: 25px;
            border: 2px solid #6ec0e6;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: none;
            height: 60px; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left {
              width: 65%;
              float: left; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-label {
                color: #6ec0e6;
                font-family: 'PostGrotesk-Medium';
                font-size: 16px;
                margin-bottom: 10px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-input {
                height: 40px; }
                .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-input .input-amount {
                  width: 90%;
                  height: 100%; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right {
              width: 30%;
              float: right;
              padding-top: 5px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select {
                width: 90px;
                height: 50px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-family: 'PostGrotesk-Bold';
                -webkit-appearance: none;
                -moz-appearance: none;
                text-align: right;
                padding-left: 45px;
                cursor: pointer;
                background: url("../img/eur-flag.png") top 14px left 14px no-repeat; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select:hover {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select:focus {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select::-ms-expand {
                display: none; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-send-container:hover {
            background: #fafdfe;
            border: 2px solid #6ec0e6; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container {
            padding: 25px;
            border-left: 2px solid #e6e6e6;
            border-right: 2px solid #e6e6e6;
            border-bottom: 2px solid #e6e6e6;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: none;
            height: 60px; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left {
              width: 65%;
              float: left; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-label {
                color: #6ec0e6;
                font-family: 'PostGrotesk-Medium';
                font-size: 16px;
                margin-bottom: 10px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-input {
                height: 40px; }
                .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-input .input-amount {
                  width: 90%;
                  height: 100%; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right {
              width: 30%;
              float: right;
              padding-top: 5px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select {
                width: 90px;
                height: 50px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-family: 'PostGrotesk-Bold';
                -webkit-appearance: none;
                -moz-appearance: none;
                text-align: right;
                padding-left: 45px;
                cursor: pointer;
                background: url("../img/eur-flag.png") top 14px left 14px no-repeat; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select:hover {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select:focus {
                outline: 0; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select::-ms-expand {
                display: none; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container:hover {
            background: #fafdfe;
            border-left: 2px solid #6ec0e6;
            border-right: 2px solid #6ec0e6;
            border-bottom: 2px solid #6ec0e6;
            transition: 0.5s ease; }
        .main-container .main-content-holder .main-left-container .trans-submit {
          margin-top: 40px; }
          .main-container .main-content-holder .main-left-container .trans-submit button {
            background: #6ec0e6;
            border: 1px solid #6fa0b7;
            border-radius: 4px;
            padding: 15px 20px;
            color: #ffffff;
            font-family: 'PostGrotesk-Medium';
            font-size: 16px;
            cursor: pointer;
            -moz-box-shadow: inset 0 0 5px #5cb4dd;
            -webkit-box-shadow: inset 0 0 5px #5cb4dd;
            box-shadow: inset 0 0 5px #5cb4dd;
            transition: 0.3s ease; }
          .main-container .main-content-holder .main-left-container .trans-submit button:hover {
            background: #399cca; }
        .main-container .main-content-holder .main-left-container .cf-footer {
          margin-top: 50px;
          border-top: 2px solid #eeeeee;
          padding-top: 10px; }
          .main-container .main-content-holder .main-left-container .cf-footer span {
            color: #cacaca;
            font-family: 'PostGrotesk-Medium';
            font-size: 12px; }
          .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links {
            float: right; }
            .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links a {
              text-decoration: none;
              color: #6ec0e6;
              font-family: 'PostGrotesk-Medium';
              font-size: 12px;
              margin-left: 15px;
              transition: 0.3s ease; }
            .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links a:hover {
              color: #399cca; }
      .main-container .main-content-holder .main-right-container {
        display: table-cell;
        width: 40%;
        background: url("../img/rightColBg.png") repeat-y #fbfbfb;
        float: right;
        margin: 0;
        padding: 0;
        height: 100%; }
        .main-container .main-content-holder .main-right-container .confirmation-panel {
          padding: 40px; } }
/* MOBILE VERSION */
@media screen and (max-width: 767px) {
  .main-container {
    font-size: 14px;
    /* HEADER */
    /* MAIN CONTENT */ }
    .main-container .header-container {
      position: fixed;
      top: 0;
      z-index: 99;
      width: 100%;
      background-color: #32323c;
      height: 75px; }
      .main-container .header-container .header {
        height: inherit;
        margin-left: auto;
        margin-right: auto; }
        .main-container .header-container .header .logo {
          background: url("../img/logo.png");
          width: 173px;
          height: 75px;
          float: left; }
          .main-container .header-container .header .logo a {
            width: 100%;
            height: 100%;
            display: block; }
    .main-container .main-content-holder {
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      padding-top: 75px; }
      .main-container .main-content-holder .main-left-container {
        width: 100%;
        background: #ffffff;
        margin: 0;
        padding: 0; }
        .main-container .main-content-holder .main-left-container .transaction-panel {
          padding: 20px; }
          .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul {
            padding-left: 0; }
            .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 14px;
              font: inherit;
              vertical-align: baseline;
              list-style: none;
              font-weight: bold;
              color: #b0bec5;
              border-bottom: 4px solid #e2f2fa; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li .step-no {
                margin: 10px 10px 0 30px;
                font-size: 11px; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li .step-desc {
                margin: 5px 10px 10px 30px;
                font-size: 13px; }
            .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 16px;
              font: inherit;
              vertical-align: baseline;
              list-style: none;
              font-weight: bold;
              color: #6ec0e6;
              border-bottom: 4px solid #6ec0e6;
              cursor: pointer; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child .step-no {
                margin: 10px 10px 0 30px;
                font-size: 11px; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:first-child .step-desc {
                margin: 5px 10px 10px 30px;
                font-size: 13px; }
            .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 16px;
              font: inherit;
              vertical-align: baseline;
              list-style: none;
              font-weight: bold;
              color: #6ec0e6;
              border-bottom: 4px solid #6ec0e6;
              cursor: pointer; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover .step-no {
                margin: 10px 10px 0 30px;
                font-size: 11px; }
              .main-container .main-content-holder .main-left-container .transaction-panel .trans-nav ul li:hover .step-desc {
                margin: 5px 10px 10px 30px;
                font-size: 13px; }
        .main-container .main-content-holder .main-left-container .trans-title {
          padding: 30px 30px 20px 0;
          font-family: 'PostGrotesk-Book';
          font-size: 15px;
          color: #797979;
          margin-bottom: 0; }
          .main-container .main-content-holder .main-left-container .trans-title p:first-child {
            font-family: 'PostGrotesk-Bold';
            font-size: 18px;
            color: #212121;
            margin-bottom: 0; }
        .main-container .main-content-holder .main-left-container .trans-form .trans-send-container {
          padding: 25px;
          border: 2px solid #6ec0e6;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          box-shadow: none;
          height: 60px; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left {
            width: 65%;
            float: left; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-label {
              color: #6ec0e6;
              font-family: 'PostGrotesk-Medium';
              font-size: 16px;
              margin-bottom: 10px; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-input {
              height: 40px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-left .send-left-input .input-amount {
                width: 90%;
                height: 100%; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right {
            width: 35%;
            float: right;
            padding-top: 5px; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select {
              width: 90px;
              height: 50px;
              border-top-left-radius: 25px;
              border-bottom-left-radius: 25px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              font-family: 'PostGrotesk-Bold';
              -webkit-appearance: none;
              -moz-appearance: none;
              text-align: right;
              padding-left: 45px;
              cursor: pointer;
              background: url("../img/eur-flag.png") top 14px left 14px no-repeat; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select:hover {
              outline: 0; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select:focus {
              outline: 0; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-send-container .send-right select::-ms-expand {
              display: none; }
        .main-container .main-content-holder .main-left-container .trans-form .trans-send-container:hover {
          background: #fafdfe;
          border: 2px solid #6ec0e6; }
        .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container {
          padding: 25px;
          border-left: 2px solid #e6e6e6;
          border-right: 2px solid #e6e6e6;
          border-bottom: 2px solid #e6e6e6;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          box-shadow: none;
          height: 60px; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left {
            width: 65%;
            float: left; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-label {
              color: #6ec0e6;
              font-family: 'PostGrotesk-Medium';
              font-size: 16px;
              margin-bottom: 10px; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-input {
              height: 40px; }
              .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-left .send-left-input .input-amount {
                width: 90%;
                height: 100%; }
          .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right {
            width: 35%;
            float: right;
            padding-top: 5px; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select {
              width: 90px;
              height: 50px;
              border-top-left-radius: 25px;
              border-bottom-left-radius: 25px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              font-family: 'PostGrotesk-Bold';
              -webkit-appearance: none;
              -moz-appearance: none;
              text-align: right;
              padding-left: 45px;
              cursor: pointer;
              background: url("../img/eur-flag.png") top 14px left 14px no-repeat; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select:hover {
              outline: 0; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select:focus {
              outline: 0; }
            .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container .send-right select::-ms-expand {
              display: none; }
        .main-container .main-content-holder .main-left-container .trans-form .trans-gets-container:hover {
          background: #fafdfe;
          border-left: 2px solid #6ec0e6;
          border-right: 2px solid #6ec0e6;
          border-bottom: 2px solid #6ec0e6;
          transition: 0.5s ease; }
        .main-container .main-content-holder .main-left-container .trans-submit {
          margin-top: 40px; }
          .main-container .main-content-holder .main-left-container .trans-submit button {
            background: #6ec0e6;
            border: 1px solid #6fa0b7;
            border-radius: 4px;
            padding: 15px 20px;
            color: #ffffff;
            font-family: 'PostGrotesk-Medium';
            font-size: 16px;
            cursor: pointer;
            -moz-box-shadow: inset 0 0 5px #5cb4dd;
            -webkit-box-shadow: inset 0 0 5px #5cb4dd;
            box-shadow: inset 0 0 5px #5cb4dd;
            transition: 0.3s ease; }
          .main-container .main-content-holder .main-left-container .trans-submit button:hover {
            background: #399cca; }
        .main-container .main-content-holder .main-left-container .cf-footer {
          margin-top: 50px;
          border-top: 2px solid #eeeeee;
          padding-top: 10px; }
          .main-container .main-content-holder .main-left-container .cf-footer span {
            color: #cacaca;
            font-family: 'PostGrotesk-Medium';
            font-size: 12px; }
          .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links {
            float: right; }
            .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links a {
              text-decoration: none;
              color: #6ec0e6;
              font-family: 'PostGrotesk-Medium';
              font-size: 12px;
              margin-left: 15px;
              transition: 0.3s ease; }
            .main-container .main-content-holder .main-left-container .cf-footer .cf-footer-links a:hover {
              color: #399cca; }
      .main-container .main-content-holder .main-right-container {
        width: 100%;
        background: #fbfbfb;
        border-top: 2px solid #e6e6e6;
        margin: 0;
        padding: 0;
        height: 100px; }
        .main-container .main-content-holder .main-right-container .confirmation-panel {
          padding: 20px; } }
.trans-submit {
  margin-top: 40px; }
  .trans-submit button {
    background: #6ec0e6;
    border: 1px solid #6fa0b7;
    border-radius: 4px;
    padding: 15px 20px;
    color: #ffffff;
    font-family: 'PostGrotesk-Medium';
    font-size: 16px;
    cursor: pointer;
    -moz-box-shadow: inset 0 0 5px #5cb4dd;
    -webkit-box-shadow: inset 0 0 5px #5cb4dd;
    box-shadow: inset 0 0 5px #5cb4dd;
    transition: 0.3s ease; }
  .trans-submit button:hover {
    background: #399cca; }

/* MODAL */
/* Outer */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
  /* Inner */ }
  .popup .popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px black;
    border-radius: 3px;
    background: #fff; }
  .popup .popup-footer button {
    background: #6ec0e6;
    border: 1px solid #6fa0b7;
    border-radius: 4px;
    padding: 15px 20px;
    color: #ffffff;
    font-family: 'PostGrotesk-Medium';
    font-size: 16px;
    cursor: pointer;
    -moz-box-shadow: inset 0 0 5px #5cb4dd;
    -webkit-box-shadow: inset 0 0 5px #5cb4dd;
    box-shadow: inset 0 0 5px #5cb4dd;
    transition: 0.3s ease; }
  .popup .popup-footer button:hover {
    background: #399cca; }
  .popup .popup-footer .back-button {
    background: #ecf6f6;
    border: 1px solid #cee3eb;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #768895;
    outline: none; }
  .popup .popup-footer .back-button:hover {
    background: #e0f0f0;
    border: 1px solid #cbcbcb; }
  .popup .popup-footer .verify-button {
    background: #ddf0f9;
    border: 1px solid #cee3eb;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    outline: none; }
  .popup .popup-footer .verify-button:hover {
    background: #b3d5e6;
    border: 1px solid #cee3eb; }

.customField {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

/*# sourceMappingURL=global.css.map */
